.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.logo {
    width: 100px;
    height: 100px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}

.h1 {
    text-align: left;
    color: #333;
}

.form {
    max-width: 400px;
    margin: auto;
}

.label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.input {
    width: calc(100% - 16px);
    margin-bottom: 16px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.add-file {
    background-color: #008CBA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: auto;
    margin-top: 35px;
}

.error-message {
    color: red;
    margin-bottom: 16px;
    text-align: center;
}

.progress-container {
    display: none;
    margin-top: 20px;
    position: relative;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 5px;
    position: absolute;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
}

.admin-login {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.file-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.file-input {
    width: calc(80% - 16px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.delete-icon {
    margin-left: 10px;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
}